<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533592992424-pnmb1lgfjv34l0hf8l334mg2asr3vr47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533592992424-pnmb1lgfjv34l0hf8l334mg2asr3vr47</string>
	<key>API_KEY</key>
	<string>AIzaSyB3YzeLAETVhWZGn73zzutp8DbIk2Jlaz0</string>
	<key>GCM_SENDER_ID</key>
	<string>533592992424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Markingle.CullMaster-V2</string>
	<key>PROJECT_ID</key>
	<string>cull-master-firebasedb-582e7</string>
	<key>STORAGE_BUCKET</key>
	<string>cull-master-firebasedb-582e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:533592992424:ios:ddb16715615c985f59b09d</string>
</dict>
</plist>
